<p>
A new task is added at your To do list  <%= @user.name %> :  
</p>


 <blockquote>
    <em> Hi!! What's up! <%= @user.email %> </em>  
 </blockquote>   

<p>
  To read this you need to sign in at ToDo App  
</p>
