<h1>Welcome to example.com <%= @user.name %> </h1>   

<p>
  Your username is <%= @user.email %>
</p>
<br>
<p>
  To login to the side, just follow this link: 
</p>
<p>
  Thanks for joining and have a great day!
</p>